*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}
nav {
  background: #222;
  padding: 1rem;
}
nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}
main {
  padding: 1rem;
}

footer{
  background-color: black;
  color: white;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: absolute;
  bottom: 1vh;
  width: 98vw;
  
}